$Accent: #F0145A;
$ActiveRegular: #24A3FF;
$ActiveHover: #0085FF;
$ActiveActive: #006CCF;
$Main-Regular: #323264;
$MainAlt: #46466E;
$MainSoft: #686887;
$GreyBg: #F5F5FA; 
$GreyBgAlt: #EDEDF7;
$GreyText: #B3B3BA;
$GreySeparator: #E6E6F0;
